.App {
    /* background-color: black; */
    color: white;
}

.home {
  color: white;
  font-size: 2.5em;
}

a {
  color: white;
}

ul {
  list-style: none;
}

li{
  width: 1.5em;
  height: 1.5em;
  font-size: 3em;
}

.link-font{
  font-size: 0.5em;
}
.socials {
  display: block;
}

.contactDiv {
  display: inline;

}
