body {
    background-color: black !important;
    color: white !important;
}

a.home {
  color: white;
  font-size: 1.5em;
  font-weight: 900;
  padding: 5rem;
  /* top: 50px; */
}

a {
  color: white;
}

ul {
  list-style: none;
}

li{
  width: 1.5em;
  height: 1.5em;
  font-size: 3em;
}

.link-font{
  font-size: 0.5em;
}

.socials {
  margin: 5rem;
  display: block;
}
.icon {
  width: 3rem;
  height: 3rem;
}

ul.contactDiv {
  text-align: center;
}

ul.contactDiv li {
  display: inline-block;
  margin: 25rem 5rem;
}

.contactIcon{
  position: relative;
  top: 5px;
  left: 5px;
  margin-right: 10px;
}

div .profileimg {
  margin-top: 3rem;
}

.profileimg {
  width: 250px;
  height: 250px;
}

.intro {
  margin-top: 7rem;
}

.intro h1 {
  font-size: 40px;
}

.intro p {
  font-size: 30px;
}


@media (min-width: 576px) { 
  /* ul.contactDiv {
    text-align: center;
  } */
  
  ul.socials li {
    display: inline-block;
    margin: 6rem;
  }
 }