body {
    font-family: 'Arvo', sans-serif !important;
    background-color: #ffff !important;
}

.logo {
  width: 150px;
  height: 150px;
}

nav {
  margin-right: 3rem;
  margin-top: 2.5rem;
  text-align: center;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

nav ul li {
  display: inline;
  padding: 0.5rem;
}

ul {
  list-style: none;
  float: right;
}

.socials ul li a {
  color: black;
  text-decoration: none;
  font-size: 2rem;
}


.socials ul {
  float: left;
  margin-top: 5rem;
}

.codeLinks {
  margin-top: 1rem;
}

.codeLinks ul li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.codeLinks ul {
  list-style: none;
  float: left;
  
}

.codeLinks ul li {
  display: inline;
  margin-left: 1rem;
}

.intro h1 {
  font-size: 3rem;
  font-weight: 700;
}

.introText {
  font-size: 3rem;
}

.profileimg {
  width: 250px;
  height: 250px;
}

.aboutimg {
  width: 400px;
  height: 300px;
}

div form input {
    height: 3rem;
    width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

div form textarea {
  /* width: 80%;  */
  height: 6rem;
  width: 20rem;
  display: block;
  margin: auto;
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.btn-div {
  text-align: center;
  margin-top: 2rem;
}

.submitButton {
  background-color: black;
  width: 10rem;
  height: 3rem;
  color: #ffff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.abouttext {
  margin-top: 5rem;
}


@media screen and (max-width: 600px) {
  nav ul li a {
    font-size: 1rem;
  }

  .socials ul li {
    display: inline;
    padding: 0.5rem;
  }

  .socials ul {
    margin: auto;
  }

  .socials ul li a {
    font-size: 1rem;
  }

  .intro h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .introText {
    font-size: 0.9rem;
  }

  .logo {
    text-align: center;
  }

  .aboutimg {
    width: 200px;
    height: 150px;
  }
  
}

